

.max-container{
    max-width: 1540px;
    margin: auto;    
}

.section-container{
    max-width: 1280px;
    margin: auto;
}


/* tostify css  */


.Toastify__toast-container {
  z-index: var(--toastify-z-index);
  -webkit-transform: translate3d(0, 0, var(--toastify-z-index));
  position: fixed;
  padding: 4px;
 top: 65px!important;  
  
  width: var(--toastify-toast-width);
  box-sizing: border-box;
  color: #fff;
 
} 



.modal-box {
    --tw-translate-y: 0px;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    position: absolute;
    top: 10%;
    right: 10%;
}
